{%extends "entidades/index.html"%}

{% block titulo %}
<div class="container px-4 px-lg-5 h-100">
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-8 align-self-end">
            <h1 class="text-white font-weight-bold">Agrega tu avatar!</h1>
            
        </div>
        <div class="col-lg-8 align-self-baseline">
            
            
           
            
        </div>
    </div>
</div>
{% endblock titulo %}

{% block contenido %}
<form action="" method="post" enctype="multipart/form-data">

    {% csrf_token %}

    <table>

        {{ form.as_table }}

    </table>

    <input type="submit" value="Actualizar Avatar">

</form>

 


{% endblock contenido %}